page-help {

    .img-icon {
        max-width               : 27px;
    }

    .card-header {
        font-weight             : bold; 
    }

    .card-content {
        text-align              : justify;
    }
}
