<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mes stations</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon name="star" item-left></ion-icon>
      {{item.name}}
      <div class="item-note" item-right>
        {{item.status}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    
  </div>
</ion-content>
