// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$gold-color             : #CCAF5F;
$gray-color             : #4B4243;
$whsm-color             : #F5F5F5;

.fixed-content {
    background              : url('../assets/img/back.jpg') no-repeat center center fixed; 
    -webkit-background-size : cover;
    -moz-background-size    : cover;
    background-size         : cover;
}

.toolbar-background {
    border                  : none;
    background-color        : $gold-color;
}

.toolbar-content {
    text-align              : left;
}

.offline-toolbar {
    .toolbar-background {
        background-color    : $whsm-color;
    }

    .toolbar-content {
        text-align          : center;
    }
}

.bar-button {
    color                   : black;
}

.toolbar-title-md {
    color                   : black;
}

.center {
    color                   : white;
    text-align              : center;
    font-size               : 20px !important;
    margin-bottom           : 20px;
}