<ion-menu [content]="content" id="menu1">

  <ion-header>
    <ion-toolbar>
      <ion-title>Vélo'v</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" [ngClass]="{'notConnected': notConnected}" #content swipeBackEnabled="false"></ion-nav>
<ion-toolbar class="offline-toolbar" *ngIf="notConnected">Hors ligne</ion-toolbar>