localisation-page {

  .half-fab {
    margin-bottom                   : -38px;
  }

  .half-fab-lettre {
    background-color              : $white-color;
    color                         : $black-color!important;

    .button-inner {
      margin-top                  : -10px;
      font-size                   : 12px;
    }
  }

  #map {
    width                           : 100%;
    height                          : 100%;
  }
  
  .searchbar-input {
    background                      : $white-color!important;
  }

  .ion-ios-search {
    font-size                       : 22px!important;
  }

  .searchbar-ios-cancel {
    color                           : $white-color;
  }

  #searchList {
    position                        : absolute;
    z-index                         : 99;
    width                           : 100%;
    height                          : 100%;
  }

  .content {
    position: relative;
  }

  .ol-popup {
      position                      : absolute;
      background-color              : $black-color;
      color                         : $white-color;
      filter                        : drop-shadow(0 1px 4px rgba(0,0,0,0.2));
      -webkit-filter                : drop-shadow(0 1px 4px rgba(0,0,0,0.2));
      padding                       : 10px;
      left                          : 0px;
      right                         : 0px;
      bottom                        : 0px;
      min-width                     : 180px;
    }

    .ol-popup-closer {
      float                         : right;
    }

    .ol-popup-btn {
      background-color              : transparent;
      font-size                     : 20px!important;
      color                         : $white-color;
    }

    .popup-content-name {
      margin-top                    : 10px;
      margin-bottom                 : 10px;
    }
    
    .content-number {
      float                         : right;
      margin-top                    : -15px;
    }

    .fixed-content {
      background                    : none; 
    }

    .no-scroll .scroll-content{
     overflow                       : hidden;
    }

    //Couleur des boutons de controle
    .ol-control {
      background-color: rgba(235,231,220,.7);
      button {
        background-color            : rgba(2,35,46,0.8);
      }
    }

    //Positionnement du bouton de centrage sur la position courante
    .ol-zoom-extent {
      top                           : 265px;
    }

    //Positionnement du bouton de dézoom
    .ol-zoom .ol-zoom-out {
        margin-top: 204px;
    }
    
    //Fond de la barre de zoom
    .ol-zoomslider {
        background-color: transparent;
        top: 2.3em;
    }
}
