<ion-header>
  <ion-navbar *ngIf="!searchVisible">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Localisation</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showSearchList()">
          <ion-icon name="search"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar *ngIf="searchVisible">
    <ion-searchbar #searchbar (ionCancel)="hideSearchList()" [(ngModel)]="stationFilter" (ionInput)="searchStations()" showCancelButton="true"></ion-searchbar>
  </ion-navbar>
  <ion-toolbar class="offline-toolbar" *ngIf="notConnected">
    <ion-title>Mode hors ligne</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content no-scroll">
  <div id="searchList" *ngIf="searchVisible">
    <ion-list>
      <ion-item *ngFor="let station of stationsFiltered" (click)="selectStation(station)">
        {{ station.name }}
      </ion-item>
    </ion-list>
  </div>

  <div id="map" #map class="map" (click)="clickMap($event)"></div>
  
  <div class="ol-zoom-extent ol-unselectable ol-control" *ngIf="initialised && hasPosition">
    <button type="button" (click)="centerOnMyPosition()"><ion-icon name="ios-locate-outline"></ion-icon></button>
  </div>

  <div class="ol-overviewmap ol-unselectable ol-control ol-collapsed" *ngIf="initialised && !notConnected">
    <button type="button" (click)="refreshData()"><ion-icon name="md-refresh"></ion-icon></button>
  </div>
  
  <div class="ol-control ol-orientation" *ngIf="initialised">
    <button type="button" [ngClass]="{'selected': useCompass}" (click)="displayOrientation()"><ion-icon name="md-compass"></ion-icon></button>
  </div>

  <ion-fab class="ol-control ol-mapimage" *ngIf="initialised && !notConnected">
    <button ion-fab><ion-icon name="map"></ion-icon></button>
    <ion-fab-list side="bottom" class="fab-map">
      <button ion-fab (click)="changeMapImage(0)"><img src="assets/img/map_back/map_back_1.png"></button>
      <button ion-fab (click)="changeMapImage(1)"><img src="assets/img/map_back/map_back_2.png"></button>
      <button ion-fab (click)="changeMapImage(2)"><img src="assets/img/map_back/map_back_3.png"></button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab class="ol-control ol-buffer" *ngIf="initialised">
    <button ion-fab><ion-icon name="logo-buffer"></ion-icon></button>
    <ion-fab-list side="bottom">
      <button ion-fab [ngClass]="{'selected': displayedLayer[0]}" (click)="displayOrHideLayer(0)"><ion-icon name="bicycle"></ion-icon></button>
      <button ion-fab class="smallPin" [ngClass]="{'selected': displayedLayer[1]}" (click)="displayOrHideLayer(1)"><img src="assets/img/station_pin/red.png"></button>
      <button ion-fab class="smallPin" [ngClass]="{'selected': displayedLayer[2]}" (click)="displayOrHideLayer(2)"><img src="assets/img/station_pin/orange.png"></button>
      <button ion-fab class="smallPin" [ngClass]="{'selected': displayedLayer[3]}" (click)="displayOrHideLayer(3)"><img src="assets/img/station_pin/yellow.png"></button>
      <button ion-fab class="smallPin" [ngClass]="{'selected': displayedLayer[4]}" (click)="displayOrHideLayer(4)"><img src="assets/img/station_pin/green.png"></button>
      <button ion-fab [ngClass]="{'selected': displayedLayer[5]}" (click)="displayOrHideLayer(5)"><ion-icon name="logo-usd"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <div id="popup" class="ol-popup" *ngIf="stationSelected" [(ngModel)]="stationSelected" ngDefaultControl>
    <div id="popup-content">

      <button id="popup-closer" class="ol-popup-btn ol-popup-closer" (click)="clickCloser()">
        <ion-icon name="md-close"></ion-icon>
      </button>
      <button id="popup-copy" class="ol-popup-btn ol-popup-copy" (click)="copyData()">
        <ion-icon name="md-copy"></ion-icon>
      </button>
      <button id="popup-favorite" class="ol-popup-btn ol-popup-favorite" (click)="clickOnStar(stationSelected)">
        <ion-icon *ngIf="stationSelected.favorite" name="md-star"></ion-icon>
        <ion-icon *ngIf="!stationSelected.favorite" name="md-star-outline"></ion-icon>
      </button>

      <div class="popup-content-name">{{stationSelected.name}}</div>
      <div class="popup-content-seperator"></div>
      <div class="popup-content-info">
          <ion-grid>
            <ion-row class="table-place">
              <ion-col width-50><ion-icon name="bicycle"></ion-icon><b>  {{stationSelected.available_bikes}}</b></ion-col>
              <ion-col width-50><ion-icon name="log-in"></ion-icon><b>  {{stationSelected.available_bike_stands}}</b></ion-col>
            </ion-row>
          </ion-grid>
      </div>
      <div class="content-status">{{stationSelected.status}}</div>
      <div class="content-distance">{{stationSelected.distance}} km(s)</div>
    </div>

    <ion-fab class="half-fab" center bottom *ngIf="stationSelected.bonus">
      <div ion-fab class="half-fab-lettre">Bonus</div>
    </ion-fab>
  </div>
</ion-content>