<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vélo'v</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<h3>Alertes</h3>
<div class="center" ng-if="length == 0">
  <ion-icon name="md-checkmark-circle"></ion-icon>
  <h3>Aucune station fermée</h3>
</div>
<div class="center" ng-if="length > 0">
  <ion-icon name="md-warning"></ion-icon>
  <h3>{{length}} station(s) fermée(s)</h3>
</div>
<ion-list>
    <button ion-item *ngFor="let item of items">
      <ion-icon name="close" item-left></ion-icon>
      {{item}}
    </button>
  </ion-list>

</ion-content>
