<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mes stations</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item-sliding #itemS *ngFor="let item of items">
      <button ion-item (click)="itemTapped($event, item)">
        <ion-icon name="star" item-left></ion-icon>
        {{item.name}}
        <div class="item-note" item-right>
          {{item.status}}
        </div>
      </button>
      <ion-item-options side="right">
          <button ion-button color="danger" (click)="delete(itemS, item)">
            <ion-icon name="trash"></ion-icon>Supprimer
          </button>
      </ion-item-options>
    </ion-item-sliding>
    
  </ion-list>
  <div class="center none-station" *ngIf="length == 0">
    Vous n'avez pas de station favorite
  </div>
  <div *ngIf="selectedItem" padding></div>
</ion-content>
