<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Station</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 <div *ngIf="selectedItem" class="selection">
    <b>{{selectedItem.name}}</b>
    <ion-icon name="{{selectedItem.icon}}"></ion-icon>
    <div>
      Statut : <b>{{selectedItem.status}}</b>
    </div>
    <div>
      Total de vélo : <b>{{selectedItem.bike_stands}}</b>
    </div>
    <div>
      Vélos disponibles : <b>{{selectedItem.available_bikes}}</b>
    </div>
    <div>
      Places libres : <b>{{selectedItem.available_bike_stands}}</b>
    </div>
  </div>
</ion-content>
